<div class="row">
    <div class="col">
        <h2>Time Queries Tracker</h2>
        <button class="btn btn-primary" type="submit" onclick="clockwork.addCurrentTime">Get the time</button>
    </div>
</div>

<div class="row">
    <div class="col" id="queried-times"></div>
</div>

<script src="~/Content/scripts/clockwork.js"></script>