<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link href="~/Content/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/styles/clockwork.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand">AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</span>
    </nav>
    <main class="container-fluid">
        @RenderBody()
    </main>
</body>
</html>
